*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: palevioletred;
}

.nav{
    display: flex;
    justify-content: space-around;
    height: 3rem;
}

a{
    text-decoration: none;
    color: palevioletred;
}



@media all and (min-width:1024px){ /*데스크탐*/

    .logo{
        align-content: center;
        font-size: xx-large;
    }
    
    .first_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card_container{
        
        display: flex;
        justify-content: center;

    }

    .card{
        border : 1px solid white;
        margin: 100px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        width: 370px;
        height: 300px;
        box-shadow: 5px 5px 5px silver;

    }

    .mobile_btn{
        display: none;
    }
    
    .btn{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .pic{
        display: flex;
        justify-content: center;
    }
    
    .img{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50%;
    }
    
    .intro{
        justify-content: center;
    }

    .card_container{
        margin: 100px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }

}

@media all and (max-width:1023px){ /* 모바일 */

    .logo{
        align-content: center;
        font-size: xx-large;
    }
    
    .first_container{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    
    .btn{
        margin-left: 10px;
        margin-right: 10px;
        display: none;
    }

    .mobile_btn{
        display: flex;
        justify-content: space-around;
    }
    
    i{
        font-size: xx-large;
        margin-left: 10px;
        margin-right: 10px;
    }

    .icon{
        font-size: 100px;
    }

    .pic{
        display: flex;
        justify-content: center;
        display: none;
    }
    
    .img{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50%;
    }
    

    .card_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card{
        border : 1px solid silver;
        margin: 100px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        width: 370px;
        height: 300px;
        box-shadow: 5px 5px 5px silver;
    }

    .main{
        flex-direction: column;
        justify-content: center;
    }
}